



<h1>Kam Man </h1>
<p>Chinese Fast Food</p>

<p>
 <%= link_to "Log in", new_admin_session_path, class: "btn btn-default btn-lg" %>
 <%= link_to "Sign up", new_admin_registration_path, class: "btn btn-primary btn-lg" %>
 <%= link_to "Log out", destroy_admin_session_path %>
 </p>